services:
  admin:
    build: 
      context: ./admin
      dockerfile: Dockerfile.dev
    working_dir: /app
    volumes:
      - ./admin:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    command: npm run dev
